
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body ng-controller="schoolController">
    <input type="number" ng-model="num"/>
    <button ng-click="checkNumber()">Check Number</button>

    <br />
    Input: {{num}}

    <br />
    Result: {{message}}
</body>
</html>
